{
  "openapi": "3.1.0",
  "info": {
    "title": "Arker Public VM API",
    "version": "0.3.0",
    "description": "Public VM and control-plane API contract. Every supported deployment exposes the same wire shapes. Features that are unavailable in a selected region or provider return an `ErrorResponse` with `code: \"unsupported_operation\"`.\n"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://arker.ai/api"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Service",
      "description": "Service readiness and availability."
    },
    {
      "name": "VMs",
      "description": "Create and manage virtual machines."
    },
    {
      "name": "Policies",
      "description": "Control inbound and outbound VM network access."
    },
    {
      "name": "Runs",
      "description": "Execute commands and inspect their results."
    },
    {
      "name": "Sessions",
      "description": "Manage persistent command sessions."
    },
    {
      "name": "PTY",
      "description": "Attach interactive terminals to sessions."
    },
    {
      "name": "Sync",
      "description": "Read and write files in a VM."
    },
    {
      "name": "Filesystems",
      "description": "Create shared filesystems and mount them into VMs."
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "operationId": "health",
        "tags": [
          "Service"
        ],
        "summary": "Check service readiness",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is ready to accept public API traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/HealthUnavailable"
          }
        },
        "description": "Public health and readiness probe. Returns service status and server time."
      }
    },
    "/v1/regions": {
      "get": {
        "operationId": "listRegions",
        "tags": [
          "Service"
        ],
        "summary": "List available provider regions",
        "security": [],
        "responses": {
          "200": {
            "description": "Available provider and region placements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRegionsResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          }
        },
        "description": "Public placement catalog. Each item supplies the provider, region, and regional endpoint. Every listed placement accepts fork, run, and sync requests. Unavailable placements are omitted."
      }
    },
    "/v1/whoami": {
      "get": {
        "operationId": "whoami",
        "tags": [
          "Service"
        ],
        "summary": "Show the authenticated organization",
        "description": "Returns the organization associated with the authenticated API key or session.",
        "responses": {
          "200": {
            "description": "The authenticated organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoamiResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          }
        }
      }
    },
    "/v1/fork": {
      "post": {
        "operationId": "fork",
        "tags": [
          "VMs"
        ],
        "summary": "Fork a VM",
        "x-arker-retry-window": {
          "field": "queueing_timeout",
          "unit": "seconds"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The newly created VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestOrInsufficientResourcesError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/AlreadyExistsOrConflictOrInvalidStateOrResourceBusyError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLargeError"
          },
          "422": {
            "$ref": "#/components/responses/OperationFailedOrUnrecoverableOrUnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/QuotaExceededOrRateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/CapacityUnavailableOrUnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "description": "Create a new VM from an existing VM ID, an organization-scoped VM name, an OCI image, or a Dockerfile. For named sources, the scope can be the caller organization or `ArkerHQ`."
      }
    },
    "/v1/vms": {
      "get": {
        "operationId": "listVms",
        "tags": [
          "VMs"
        ],
        "summary": "List VMs",
        "description": "List VMs visible to the authenticated caller, optionally filtered by region, provider, owner, visibility, lifecycle state, platform, or creation time. All filters compose with AND semantics.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "region",
            "required": false,
            "description": "Narrow to a customer-facing service region (e.g. `us-west`). When omitted, the response aggregates across every configured service region.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "description": "Narrow results to a provider.",
            "schema": {
              "$ref": "#/components/schemas/Provider"
            }
          },
          {
            "in": "query",
            "name": "org_id",
            "required": false,
            "description": "List public VMs owned by this organization. Use `ArkerHQ` with `public=true` for the public template catalog.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "public",
            "required": false,
            "description": "Filter by public visibility. Use with `org_id=ArkerHQ` to list the public template catalog.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Filter by VM lifecycle state.",
            "schema": {
              "$ref": "#/components/schemas/VmState"
            }
          },
          {
            "in": "query",
            "name": "platform",
            "required": false,
            "description": "Match a concrete VM platform ID exactly. A public template matches when any compatible_platforms entry has this ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "created_after",
            "required": false,
            "description": "Include VMs created at or after this RFC 3339 timestamp. An explicit UTC offset is required.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "created_before",
            "required": false,
            "description": "Include VMs created before this RFC 3339 timestamp. An explicit UTC offset is required.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "pool_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter the caller organization\u2019s VMs by pool membership."
          }
        ],
        "responses": {
          "200": {
            "description": "VMs visible to the authenticated caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVmsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          }
        }
      }
    },
    "/v1/runs": {
      "get": {
        "operationId": "listOrgRuns",
        "tags": [
          "Runs"
        ],
        "summary": "List organization runs",
        "parameters": [
          {
            "in": "query",
            "name": "since",
            "required": false,
            "description": "Unix epoch seconds; include runs at or after this time.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "until",
            "required": false,
            "description": "Unix epoch seconds; include runs before this time.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "vm",
            "required": false,
            "description": "Single VM ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "vms",
            "required": false,
            "description": "Comma-separated VM ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "region",
            "required": false,
            "description": "Region filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "description": "Provider filter.",
            "schema": {
              "$ref": "#/components/schemas/Provider"
            }
          },
          {
            "in": "query",
            "name": "search",
            "required": false,
            "description": "Free-text search across run metadata.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of rows to return. The maximum is 200 normally and 20,000 when `lite=true`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Number of rows to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "lite",
            "required": false,
            "description": "When true, omit large input and output previews where supported.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "runtime",
            "required": false,
            "description": "Runtime filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endpoint",
            "required": false,
            "description": "Endpoint category filter.",
            "schema": {
              "type": "string",
              "enum": [
                "run",
                "fork",
                "sync"
              ]
            }
          },
          {
            "in": "query",
            "name": "actions",
            "required": false,
            "description": "Comma-separated action filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "description": "Comma-separated status class filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status_min",
            "required": false,
            "description": "Minimum HTTP/status code filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "status_max",
            "required": false,
            "description": "Maximum HTTP/status code filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "description": "Sort column.",
            "schema": {
              "type": "string",
              "enum": [
                "when",
                "status",
                "path",
                "total",
                "queue",
                "your_code",
                "runtime"
              ]
            }
          },
          {
            "in": "query",
            "name": "dir",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs visible to the authenticated caller across VMs, providers, and regions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgRunsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          }
        },
        "description": "Control-plane listing of run activity visible to the authenticated caller across VMs, providers, and regions."
      }
    },
    "/v1/vms/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "getVm",
        "tags": [
          "VMs"
        ],
        "summary": "Get a VM",
        "description": "Return one VM visible to the authenticated caller.",
        "responses": {
          "200": {
            "description": "VM details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      },
      "delete": {
        "operationId": "deleteVm",
        "tags": [
          "VMs"
        ],
        "summary": "Delete a VM",
        "description": "Delete a VM owned by the authenticated caller.",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteVmResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateOrResourceBusyError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      },
      "patch": {
        "operationId": "patchVm",
        "tags": [
          "VMs"
        ],
        "summary": "Update a VM",
        "description": "Update a VM's resources, SSH keys, or network policy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchVmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated VM details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/AlreadyExistsOrInvalidStateError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLargeError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/QuotaExceededOrRateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/CapacityUnavailableOrUnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      }
    },
    "/v1/vms/{id}/policies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "getVmPolicies",
        "tags": [
          "Policies"
        ],
        "summary": "Get a VM network policy",
        "description": "Return the VM's network policy together with its derived inbound exposure and enforcement metadata. The base application hostname is nullable; non-default ports use `<vm>-<port>.<provider>-<region>.arker.app`.",
        "responses": {
          "200": {
            "description": "The VM's policy document (empty when none is set), plus its derived inbound exposure metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyDoc"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      },
      "put": {
        "operationId": "putVmPolicies",
        "tags": [
          "Policies"
        ],
        "summary": "Replace a VM network policy",
        "description": "Replace the complete network policy of a mutable VM owned by the authenticated caller and apply it to the running VM. Public base VMs are immutable.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyWriteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored policy, plus request-level enforcement domains and any non-fatal notices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyDoc"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLargeError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      }
    },
    "/v1/vms/{id}/runs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "createRun",
        "tags": [
          "Runs"
        ],
        "summary": "Run a command",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The run finished inside the synchronous window. `state` is terminal and `exit_code` is the command's real status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted \u2014 the run is still executing. The body carries `run_id` and `state: \"running\"`, not output; poll `GET /v1/vms/{id}/runs/{run_id}` for the result. Returned for `time_to_background: 0` and whenever the command outstays `time_to_background`. A 2xx here means the request was accepted, not that the work is done.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictOrIdempotencyConflictOrInvalidStateOrResourceBusyError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLargeError"
          },
          "422": {
            "$ref": "#/components/responses/UnrecoverableOrUnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/QuotaExceededOrRateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/CapacityUnavailableOrUnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "description": "Run a command. Set `time_to_background` to `0` to return a pollable run immediately after successful dispatch. A positive value bounds the synchronous wait, and omission uses the default window. A run that is still executing when the response is sent returns **202 Accepted** with a `run_id`; only a run that finished returns 200. Control requests do not accept `time_to_background`. `timeout` is the separate execution and kill bound."
      },
      "get": {
        "operationId": "listRuns",
        "tags": [
          "Runs"
        ],
        "summary": "List VM runs",
        "description": "List recorded runs for one VM, with optional lifecycle and time filters.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Return only runs in this lifecycle state.",
            "schema": {
              "$ref": "#/components/schemas/RunState"
            }
          },
          {
            "in": "query",
            "name": "started_after",
            "required": false,
            "description": "Return runs started at or after this RFC 3339 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "started_before",
            "required": false,
            "description": "Return runs started at or before this RFC 3339 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "completed_after",
            "required": false,
            "description": "Return runs completed at or after this RFC 3339 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRunsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      }
    },
    "/v1/vms/{id}/runs/{run_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "operationId": "getRun",
        "tags": [
          "Runs"
        ],
        "summary": "Get a run",
        "description": "Return one recorded run, including its current state and available output.",
        "responses": {
          "200": {
            "description": "Run status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      },
      "delete": {
        "operationId": "cancelRun",
        "tags": [
          "Runs"
        ],
        "summary": "Cancel a run",
        "description": "Request cancellation of an in-flight run.",
        "responses": {
          "200": {
            "description": "Cancel result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRunResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "listSessions",
        "tags": [
          "Sessions"
        ],
        "summary": "List VM sessions",
        "description": "List persistent command sessions for one VM.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Return only sessions in this lifecycle state.",
            "schema": {
              "$ref": "#/components/schemas/SessionState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VM sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      },
      "post": {
        "operationId": "createSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Create a session",
        "description": "Create a persistent command session in a VM.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictOrInvalidStateError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLargeError"
          },
          "429": {
            "$ref": "#/components/responses/QuotaExceededOrRateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "get": {
        "operationId": "getSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Get a session",
        "description": "Return one persistent VM session.",
        "responses": {
          "200": {
            "description": "Session details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      },
      "patch": {
        "operationId": "patchSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Update a session (resize PTY / set timeout)",
        "description": "Resize the session's PTY (cols/rows) and/or update its idle timeout. Resize is delivered to a LIVE attached PTY in-band; if the PTY is detached, it is applied directly to the session's runtime; if no PTY has ever attached, the call is accepted as a no-op. REST equivalent of the WebSocket {\"type\":\"resize\"} control frame \u2014 usable from any client, attached or not.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchSessionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLargeError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      },
      "delete": {
        "operationId": "deleteSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Delete a session",
        "description": "Close and remove a persistent VM session.",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSessionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}/pty": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        },
        {
          "name": "cols",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "default": 80
          },
          "description": "Initial terminal width in columns."
        },
        {
          "name": "rows",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "default": 24
          },
          "description": "Initial terminal height in rows."
        },
        {
          "name": "command",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          },
          "description": "Single executable path to launch (no shell-splitting). Defaults to the login shell."
        },
        {
          "name": "persist",
          "in": "query",
          "required": false,
          "schema": {
            "type": "boolean",
            "default": true
          },
          "description": "When true (default), disconnecting keeps the shell running so the same session_id can reconnect to it and receive recent scrollback. When false, the shell is terminated on disconnect. A kill control message or the configured idle TTL terminates a persistent shell."
        },
        {
          "name": "cancel_ttl_secs",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "minimum": 0
          },
          "description": "Destroy the PTY after this many seconds without terminal input or output. Omit or set to zero to disable this PTY-specific idle limit."
        },
        {
          "name": "ticket",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          },
          "description": "Browser auth: a short-lived ticket from POST .../pty-ticket, used in place of the Authorization header (which a browser WebSocket cannot set)."
        }
      ],
      "get": {
        "operationId": "attachSessionPty",
        "tags": [
          "PTY"
        ],
        "summary": "Open an interactive PTY (WebSocket upgrade)",
        "description": "Upgrades to a WebSocket carrying an interactive pseudo-terminal in the VM, reusing the same interactive terminal as SSH. Authenticate with a bearer API key or, for browser clients, a short-lived PTY ticket. Reopening the same `session_id` reconnects to a persistent shell and replays recent scrollback. Binary server frames contain raw terminal output; binary client frames contain stdin bytes. Text client frames accept JSON controls for `resize`, `kill`, and `ping`. Closing the socket detaches a persistent shell or destroys a non-persistent shell; `kill` always destroys it. The service enforces attachment limits and closes oversized or idle connections.",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "PtyTicket": []
          }
        ],
        "responses": {
          "101": {
            "description": "Switching Protocols \u2014 the WebSocket PTY stream is established."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateOrResourceBusyError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/QuotaExceededOrRateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}/pty-ticket": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "post": {
        "operationId": "mintSessionPtyTicket",
        "tags": [
          "PTY"
        ],
        "summary": "Mint a browser PTY ticket",
        "description": "Returns a short-lived, multi-use credential for opening the PTY WebSocket from a browser, which cannot set an Authorization header. The bearer-authenticated caller must own the VM. Pass the returned credential as the `ticket` query parameter on the PTY WebSocket URL.",
        "responses": {
          "200": {
            "description": "Ticket minted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PtyTicketResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLargeError"
          },
          "429": {
            "$ref": "#/components/responses/QuotaExceededOrRateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      }
    },
    "/v1/vms/{id}/mounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "createMount",
        "tags": [
          "Filesystems"
        ],
        "summary": "Mount a filesystem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MountCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created mount.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictOrInvalidStateError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLargeError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "description": "Mount an existing filesystem into this VM at `path`. Repeating the same filesystem and path returns the existing mount. Returns `ErrorResponse` code `conflict` if another filesystem occupies the path or this filesystem is mounted at another path on the VM."
      },
      "get": {
        "operationId": "listMounts",
        "tags": [
          "Filesystems"
        ],
        "summary": "List filesystem mounts",
        "description": "List persistent filesystem mounts for one VM, optionally filtered by filesystem.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "filesystem_id",
            "required": false,
            "description": "Return only mounts for this filesystem.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mounts on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMountsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      }
    },
    "/v1/vms/{id}/mounts/{mount_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/MountId"
        }
      ],
      "delete": {
        "operationId": "deleteMount",
        "tags": [
          "Filesystems"
        ],
        "summary": "Unmount a filesystem",
        "description": "Remove a persistent filesystem mount from a VM.",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/InvalidStateError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      }
    },
    "/v1/vms/{id}/sync": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "sync",
        "tags": [
          "Sync"
        ],
        "summary": "Read or write VM files",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Read or write result, matching the request op.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictOrInvalidStateOrResourceBusyError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLargeError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/CapacityUnavailableOrUnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "description": "Read or write files in the VM filesystem. Op-discriminated:\n`{op:\"read\",path}` reads a file (inline content for small files, a\npresigned GET URL for large ones); `{op:\"write\",writes:[...]}` writes,\neach entry an inline chunk or a presigned-upload step. Binding a\nfilesystem into the VM is the separate `/v1/vms/{id}/mounts` resource.\n"
      }
    },
    "/v1/filesystems": {
      "get": {
        "operationId": "listFilesystems",
        "tags": [
          "Filesystems"
        ],
        "summary": "List filesystems",
        "description": "List shared filesystems visible to the authenticated caller.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "name_prefix",
            "required": false,
            "description": "Return only filesystems whose names begin with this value.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org-scoped persistent filesystems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesystemsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      },
      "post": {
        "operationId": "createFilesystem",
        "tags": [
          "Filesystems"
        ],
        "summary": "Create a filesystem",
        "description": "Create a shared filesystem owned by the authenticated caller's organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilesystemCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created filesystem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filesystem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "409": {
            "$ref": "#/components/responses/AlreadyExistsError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLargeError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      }
    },
    "/v1/filesystems/{filesystem_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FilesystemId"
        }
      ],
      "get": {
        "operationId": "getFilesystem",
        "tags": [
          "Filesystems"
        ],
        "summary": "Get a filesystem",
        "description": "Return one shared filesystem visible to the authenticated caller.",
        "responses": {
          "200": {
            "description": "Filesystem details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filesystem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      },
      "delete": {
        "operationId": "deleteFilesystem",
        "tags": [
          "Filesystems"
        ],
        "summary": "Delete a filesystem",
        "description": "Delete a shared filesystem after all VM mounts have been removed.",
        "responses": {
          "200": {
            "description": "Delete result. The filesystem must not be mounted by any VM (no remaining `Mount` referencing it).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFilesystemResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/UnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Arker API key"
      },
      "PtyTicket": {
        "type": "apiKey",
        "in": "query",
        "name": "ticket",
        "description": "Short-lived browser credential created by the PTY ticket endpoint."
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Makes the request safely retryable. Reusing a key with the same request returns the original result \u2014 the same run, or the same VM for a fork \u2014 instead of doing the work twice; reusing it with a different request returns a conflict. A fork whose key is claimed but still running answers 503 with a retry hint, since the VM it would name does not exist yet.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 64,
          "pattern": "^[ -~]+$"
        }
      },
      "VmId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "VM identifier: a VM id, or a name. Names resolve in the public base-VM registry first (e.g. ubuntu-full), then among the calling organization's own named VMs. Names never have the shape of a VM id.",
        "schema": {
          "type": "string"
        }
      },
      "RunId": {
        "name": "run_id",
        "in": "path",
        "required": true,
        "description": "Run identifier.",
        "schema": {
          "type": "string"
        }
      },
      "SessionId": {
        "name": "sid",
        "in": "path",
        "required": true,
        "description": "Session identifier.",
        "schema": {
          "type": "string"
        }
      },
      "MountId": {
        "name": "mount_id",
        "in": "path",
        "required": true,
        "description": "Filesystem mount identifier.",
        "schema": {
          "type": "string"
        }
      },
      "FilesystemId": {
        "name": "filesystem_id",
        "in": "path",
        "required": true,
        "description": "Filesystem identifier.",
        "schema": {
          "type": "string"
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque pagination cursor returned by the previous page's `next_cursor`.",
        "schema": {
          "type": [
            "string",
            "null"
          ]
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum items per page. Service caps may apply.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000
        }
      }
    },
    "headers": {
      "RetryAfter": {
        "description": "Delay in seconds before retrying a transiently unavailable request.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "Allow": {
        "description": "Required on 405. Comma-separated allowed HTTP methods, matching error.details.allowed_methods.",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1
        },
        "example": "GET, HEAD"
      },
      "WwwAuthenticate": {
        "description": "Required authentication challenge for a 401 response. Do not include credentials or internal authentication failure details.",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1
        },
        "example": "Bearer realm=\"arker\""
      }
    },
    "responses": {
      "Conflict": {
        "$ref": "#/components/responses/IdempotencyConflictError"
      },
      "PaymentRequired": {
        "$ref": "#/components/responses/PaymentRequiredError"
      },
      "Error": {
        "description": "Public error envelope. This full-catalog fallback does not define the permitted errors for an individual endpoint; explicit response sets narrow the union.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnsupportedOperation": {
        "$ref": "#/components/responses/UnsupportedOperationError"
      },
      "BadRequestError": {
        "description": "HTTP 400: The request is malformed or its fields fail validation. Correct the request using the message and optional field violations.",
        "x-http-status": 400,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestErrorResponse"
            },
            "examples": {
              "bad_request": {
                "summary": "BadRequest",
                "value": {
                  "error": {
                    "code": "bad_request",
                    "message": "The uploaded file does not match its expected checksum.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "sync"
                    },
                    "details": {
                      "violations": [
                        {
                          "field": "sha256",
                          "message": "The digest must match the uploaded content."
                        }
                      ]
                    },
                    "recovery": {
                      "work": "stopped",
                      "context": {
                        "vm_id": "example-vm-id"
                      }
                    }
                  }
                },
                "description": "The file operation stopped after checksum rejection. The VM may remain running; prior wake, directory creation or staging writes are not promised to be rolled back."
              }
            }
          }
        }
      },
      "InsufficientResourcesError": {
        "description": "HTTP 400: The requested allocation is too small for the operation. Increase the specified allocation. This does not mean the fleet lacks capacity.",
        "x-http-status": 400,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InsufficientResourcesErrorResponse"
            },
            "examples": {
              "insufficient_resources": {
                "summary": "InsufficientResources",
                "value": {
                  "error": {
                    "code": "insufficient_resources",
                    "message": "The image does not fit the requested disk allocation.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "fork"
                    },
                    "details": {
                      "resource": "disk",
                      "requested": {
                        "unit": "bytes",
                        "value": 1073741824
                      },
                      "minimum": {
                        "unit": "bytes",
                        "value": 2147483648
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "HTTP 401: Valid authentication is missing or invalid. Supply or refresh credentials.",
        "x-http-status": 401,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          },
          "WWW-Authenticate": {
            "$ref": "#/components/headers/WwwAuthenticate"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedErrorResponse"
            },
            "examples": {
              "unauthorized": {
                "summary": "Unauthorized",
                "value": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Valid authentication credentials are required.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "getVm"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "HTTP 403: The caller or policy does not permit this operation. Obtain access or change the applicable policy; repeating the same request does not resolve it.",
        "x-http-status": 403,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenErrorResponse"
            },
            "examples": {
              "forbidden": {
                "summary": "Forbidden",
                "value": {
                  "error": {
                    "code": "forbidden",
                    "message": "You do not have permission to perform this operation.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "getVm"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "NotFoundError": {
        "description": "HTTP 404: The requested resource or route is not available to this caller. Check the identifier and scope; do not assume this distinguishes missing from inaccessible.",
        "x-http-status": 404,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundErrorResponse"
            },
            "examples": {
              "not_found": {
                "summary": "NotFound",
                "value": {
                  "error": {
                    "code": "not_found",
                    "message": "The requested VM was not found.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "getVm"
                    },
                    "details": {
                      "resource": "vm"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ConflictError": {
        "description": "HTTP 409: The request conflicts with current state, with no more specific handling below. Read the current state and update the request. This is the fallback for known state conflicts.",
        "x-http-status": 409,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ConflictErrorResponse"
            },
            "examples": {
              "conflict": {
                "summary": "Conflict",
                "value": {
                  "error": {
                    "code": "conflict",
                    "message": "The request conflicts with the current session state.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "createSession"
                    },
                    "details": {
                      "resource": "session"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ResourceBusyError": {
        "description": "HTTP 409: Active work temporarily prevents the requested operation. Wait for or finish the conflicting work, then retry when the operation is safe to repeat.",
        "x-http-status": 409,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResourceBusyErrorResponse"
            },
            "examples": {
              "resource_busy": {
                "summary": "ResourceBusy",
                "value": {
                  "error": {
                    "code": "resource_busy",
                    "message": "This session is already attached.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "attachSessionPty"
                    },
                    "details": {
                      "resource": "session"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "InvalidStateError": {
        "description": "HTTP 409: The operation requires a different resource state. Perform the prerequisite or choose another resource. An inbound policy requiring a separate wake uses running; established wake progress uses unavailable.",
        "x-http-status": 409,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InvalidStateErrorResponse"
            },
            "examples": {
              "invalid_state": {
                "summary": "InvalidState",
                "value": {
                  "error": {
                    "code": "invalid_state",
                    "message": "This operation requires a mutable VM. Select or fork a mutable VM.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "createSession"
                    },
                    "details": {
                      "resource": {
                        "kind": "vm"
                      },
                      "requirement": "mutable"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AlreadyExistsError": {
        "description": "HTTP 409: A resource or unique name already exists. Use the existing resource or choose another name.",
        "x-http-status": 409,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AlreadyExistsErrorResponse"
            },
            "examples": {
              "already_exists": {
                "summary": "AlreadyExists",
                "value": {
                  "error": {
                    "code": "already_exists",
                    "message": "A VM with the requested destination name already exists.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "fork"
                    },
                    "details": {
                      "resource": "vm"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "IdempotencyConflictError": {
        "description": "HTTP 409: An idempotency key is bound to a different request. Reuse the original request or intentionally use a new key.",
        "x-http-status": 409,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/IdempotencyConflictErrorResponse"
            },
            "examples": {
              "idempotency_conflict": {
                "summary": "IdempotencyConflict",
                "value": {
                  "error": {
                    "code": "idempotency_conflict",
                    "message": "This idempotency key was already used for a different request.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "fork"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ExpiredError": {
        "description": "HTTP 410: A time-limited resource is known to have expired. Create a replacement. Use not_found when missing and expired cannot be distinguished.",
        "x-http-status": 410,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ExpiredErrorResponse"
            },
            "examples": {
              "expired": {
                "summary": "Expired",
                "value": {
                  "error": {
                    "code": "expired",
                    "message": "The SSH setup resource has expired. Create a replacement.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "unmatched",
                      "method": "GET"
                    },
                    "details": {
                      "resource": "ssh_setup"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PayloadTooLargeError": {
        "description": "HTTP 413: A request or transfer exceeds the supported byte limit. Reduce or split the payload. This is different from insufficient VM disk allocation.",
        "x-http-status": 413,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PayloadTooLargeErrorResponse"
            },
            "examples": {
              "payload_too_large": {
                "summary": "PayloadTooLarge",
                "value": {
                  "error": {
                    "code": "payload_too_large",
                    "message": "The request body exceeds the supported byte limit.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "fork"
                    },
                    "details": {
                      "maximum_bytes": 1048576
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MethodNotAllowedError": {
        "description": "HTTP 405: The route does not support this HTTP method. Use an allowed method.",
        "x-http-status": 405,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          },
          "Allow": {
            "$ref": "#/components/headers/Allow"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MethodNotAllowedErrorResponse"
            },
            "examples": {
              "method_not_allowed": {
                "summary": "MethodNotAllowed",
                "value": {
                  "error": {
                    "code": "method_not_allowed",
                    "message": "This HTTP method is not allowed for this route.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "unmatched",
                      "method": "POST"
                    },
                    "details": {
                      "allowed_methods": [
                        "GET",
                        "HEAD"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UnsupportedOperationError": {
        "description": "HTTP 422: The selected runtime, platform or feature cannot serve the requested operation. Select a supported operation or platform. For restore_requires_birth_host, restore through an eligible host; do not recreate solely because this host cannot restore it.",
        "x-http-status": 422,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnsupportedOperationErrorResponse"
            },
            "examples": {
              "unsupported_operation": {
                "summary": "UnsupportedOperation",
                "value": {
                  "error": {
                    "code": "unsupported_operation",
                    "message": "The selected platform does not support shared filesystems.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "createFilesystem"
                    },
                    "details": {
                      "reason": "feature_not_supported",
                      "feature": "shared_filesystem"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UnrecoverableError": {
        "description": "HTTP 422: Authoritative state establishes that recoverable resource state is lost. Recreate only after loss is established. Missing local files, an unknown owner or a host-specific restore restriction are insufficient evidence.",
        "x-http-status": 422,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnrecoverableErrorResponse"
            },
            "examples": {
              "unrecoverable": {
                "summary": "Unrecoverable",
                "value": {
                  "error": {
                    "code": "unrecoverable",
                    "message": "Authoritative state confirms that recoverable VM state has been lost.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "fork"
                    },
                    "details": {
                      "resource": {
                        "kind": "vm",
                        "id": "example-vm-id"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CapacityUnavailableError": {
        "description": "HTTP 503: The platform currently lacks capacity to admit otherwise valid work. Wait, release capacity, or select another placement. The requested allocation itself can be valid.",
        "x-http-status": 503,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CapacityUnavailableErrorResponse"
            },
            "examples": {
              "capacity_unavailable": {
                "summary": "CapacityUnavailable",
                "value": {
                  "error": {
                    "code": "capacity_unavailable",
                    "message": "The worker cannot currently admit the requested allocation.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "fork"
                    },
                    "details": {
                      "scope": "worker",
                      "resource": "memory"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UnavailableError": {
        "description": "HTTP 503: A required service or operation is temporarily unavailable. Retry only when the operation is safe to repeat; the code does not guarantee absence of side effects.",
        "x-http-status": 503,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnavailableErrorResponse"
            },
            "examples": {
              "unavailable": {
                "summary": "Unavailable",
                "value": {
                  "error": {
                    "code": "unavailable",
                    "message": "The VM recovery state is temporarily unavailable.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "sync"
                    },
                    "recovery": {
                      "work": "unknown",
                      "context": {
                        "vm_id": "example-vm-id"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "HTTP 500: An unexpected implementation failure prevents completion. Use a safe message and correlation identifier for support; log the internal cause.",
        "x-http-status": 500,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalErrorResponse"
            },
            "examples": {
              "internal": {
                "summary": "Internal",
                "value": {
                  "error": {
                    "code": "internal",
                    "message": "An internal error prevented image configuration from completing.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "fork"
                    },
                    "stage": "image_configuration",
                    "recovery": {
                      "work": "stopped",
                      "context": {
                        "vm_id": "example-vm-id"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RateLimitedError": {
        "description": "HTTP 429: A request-rate limiter rejects the operation. For Arker limits, reduce request rate; for upstream limits, address that service\u2019s quota or credentials.",
        "x-http-status": 429,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RateLimitedErrorResponse"
            },
            "examples": {
              "rate_limited": {
                "summary": "RateLimited",
                "value": {
                  "error": {
                    "code": "rate_limited",
                    "message": "The request rate limit was exceeded.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "fork"
                    },
                    "details": {
                      "limiter": "arker"
                    },
                    "retry_after_seconds": 10
                  }
                }
              }
            }
          }
        }
      },
      "QuotaExceededError": {
        "description": "HTTP 429: A scoped budget, resource or PTY-session limit rejects the operation. Use the exact metric, scope and measurements to release usage or adjust the applicable limit. Organization PTY counts are currently worker-local.",
        "x-http-status": 429,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/QuotaExceededErrorResponse"
            },
            "examples": {
              "quota_exceeded": {
                "summary": "QuotaExceeded",
                "value": {
                  "error": {
                    "code": "quota_exceeded",
                    "message": "The VM has reached its PTY session limit.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "attachSessionPty"
                    },
                    "details": {
                      "limit": {
                        "metric": "pty_sessions",
                        "unit": "sessions"
                      },
                      "scope": {
                        "kind": "vm",
                        "vm_id": "example-vm-id"
                      },
                      "enforcement": "worker_local",
                      "measurements": {
                        "kind": "measured",
                        "current_usage": 4,
                        "requested_increment": 1,
                        "projected_usage": 5,
                        "cap": 4
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PaymentRequiredError": {
        "description": "HTTP 402: Billing setup or payment recovery is required for compute. Complete billing setup or resolve payment.",
        "x-http-status": 402,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaymentRequiredErrorResponse"
            },
            "examples": {
              "payment_required": {
                "summary": "PaymentRequired",
                "value": {
                  "error": {
                    "code": "payment_required",
                    "message": "Complete billing setup or resolve payment before starting compute.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "matched",
                      "operation_id": "fork"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ActionRequiredError": {
        "description": "HTTP 403: A specific account action must occur before this operation. Complete the named action, such as accepting legal terms or converting the billing plan.",
        "x-http-status": 403,
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ActionRequiredErrorResponse"
            },
            "examples": {
              "action_required": {
                "summary": "ActionRequired",
                "value": {
                  "error": {
                    "code": "action_required",
                    "message": "Accept the current legal documents before continuing.",
                    "timestamp": "2026-09-11T12:00:00Z",
                    "request_id": "example-request-id",
                    "request": {
                      "kind": "unmatched",
                      "method": "POST"
[...]
