{
  "openapi": "3.1.0",
  "info": {
    "title": "Arker Public VM API",
    "version": "0.3.0",
    "description": "Public VM and control-plane API contract. Every supported deployment exposes the same wire shapes. Features that are unavailable in a selected region or provider return an `ErrorResponse` with `code: \"unsupported_operation\"`.\n"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://arker.ai/api"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Service",
      "description": "Service readiness and availability."
    },
    {
      "name": "VMs",
      "description": "Create and manage virtual machines."
    },
    {
      "name": "Policies",
      "description": "Control inbound and outbound VM network access."
    },
    {
      "name": "Runs",
      "description": "Execute commands and inspect their results."
    },
    {
      "name": "Sessions",
      "description": "Manage persistent command sessions."
    },
    {
      "name": "PTY",
      "description": "Attach interactive terminals to sessions."
    },
    {
      "name": "Sync",
      "description": "Read and write files in a VM."
    },
    {
      "name": "Filesystems",
      "description": "Create shared filesystems and mount them into VMs."
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "operationId": "health",
        "tags": [
          "Service"
        ],
        "summary": "Check service readiness",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is ready to accept public API traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service is live but not currently ready to accept public API traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Public health and readiness probe. Returns service status and server time."
      }
    },
    "/v1/regions": {
      "get": {
        "operationId": "listRegions",
        "tags": [
          "Service"
        ],
        "summary": "List available provider regions",
        "security": [],
        "responses": {
          "200": {
            "description": "Available provider and region placements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRegionsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Public placement catalog. Each item supplies the provider, region, and regional endpoint. Every listed placement accepts fork, run, and sync requests. Unavailable placements are omitted."
      }
    },
    "/v1/whoami": {
      "get": {
        "operationId": "whoami",
        "tags": [
          "Service"
        ],
        "summary": "Show the authenticated organization",
        "description": "Returns the organization associated with the authenticated API key or session.",
        "responses": {
          "200": {
            "description": "The authenticated organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoamiResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/fork": {
      "post": {
        "operationId": "fork",
        "tags": [
          "VMs"
        ],
        "summary": "Fork a VM",
        "x-arker-retry-window": {
          "field": "queueing_timeout",
          "unit": "seconds"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The newly created VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a new VM from an existing VM ID, an organization-scoped VM name, an OCI image, or a Dockerfile. For named sources, the scope can be the caller organization or `ArkerHQ`."
      }
    },
    "/v1/vms": {
      "get": {
        "operationId": "listVms",
        "tags": [
          "VMs"
        ],
        "summary": "List VMs",
        "description": "List VMs visible to the authenticated caller, optionally filtered by region, provider, owner, visibility, lifecycle state, platform, or creation time. All filters compose with AND semantics.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "region",
            "required": false,
            "description": "Narrow to a customer-facing service region (e.g. `us-west`). When omitted, the response aggregates across every configured service region.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "description": "Narrow results to a provider.",
            "schema": {
              "$ref": "#/components/schemas/Provider"
            }
          },
          {
            "in": "query",
            "name": "org_id",
            "required": false,
            "description": "List public VMs owned by this organization. Use `ArkerHQ` with `public=true` for the public template catalog.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "public",
            "required": false,
            "description": "Filter by public visibility. Use with `org_id=ArkerHQ` to list the public template catalog.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Filter by VM lifecycle state.",
            "schema": {
              "$ref": "#/components/schemas/VmState"
            }
          },
          {
            "in": "query",
            "name": "platform",
            "required": false,
            "description": "Match a concrete VM platform ID exactly. A public template matches when any compatible_platforms entry has this ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "created_after",
            "required": false,
            "description": "Include VMs created at or after this RFC 3339 timestamp. An explicit UTC offset is required.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "created_before",
            "required": false,
            "description": "Include VMs created before this RFC 3339 timestamp. An explicit UTC offset is required.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VMs visible to the authenticated caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVmsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs": {
      "get": {
        "operationId": "listOrgRuns",
        "tags": [
          "Runs"
        ],
        "summary": "List organization runs",
        "parameters": [
          {
            "in": "query",
            "name": "since",
            "required": false,
            "description": "Unix epoch seconds; include runs at or after this time.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "until",
            "required": false,
            "description": "Unix epoch seconds; include runs before this time.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "vm",
            "required": false,
            "description": "Single VM ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "vms",
            "required": false,
            "description": "Comma-separated VM ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "region",
            "required": false,
            "description": "Region filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "description": "Provider filter.",
            "schema": {
              "$ref": "#/components/schemas/Provider"
            }
          },
          {
            "in": "query",
            "name": "search",
            "required": false,
            "description": "Free-text search across run metadata.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of rows to return. The maximum is 200 normally and 20,000 when `lite=true`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Number of rows to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "lite",
            "required": false,
            "description": "When true, omit large input and output previews where supported.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "runtime",
            "required": false,
            "description": "Runtime filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endpoint",
            "required": false,
            "description": "Endpoint category filter.",
            "schema": {
              "type": "string",
              "enum": [
                "run",
                "fork",
                "sync"
              ]
            }
          },
          {
            "in": "query",
            "name": "actions",
            "required": false,
            "description": "Comma-separated action filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "description": "Comma-separated status class filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status_min",
            "required": false,
            "description": "Minimum HTTP/status code filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "status_max",
            "required": false,
            "description": "Maximum HTTP/status code filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "description": "Sort column.",
            "schema": {
              "type": "string",
              "enum": [
                "when",
                "status",
                "path",
                "total",
                "queue",
                "your_code",
                "runtime"
              ]
            }
          },
          {
            "in": "query",
            "name": "dir",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs visible to the authenticated caller across VMs, providers, and regions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgRunsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Control-plane listing of run activity visible to the authenticated caller across VMs, providers, and regions."
      }
    },
    "/v1/vms/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "getVm",
        "tags": [
          "VMs"
        ],
        "summary": "Get a VM",
        "description": "Return one VM visible to the authenticated caller.",
        "responses": {
          "200": {
            "description": "VM details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteVm",
        "tags": [
          "VMs"
        ],
        "summary": "Delete a VM",
        "description": "Delete a VM owned by the authenticated caller.",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteVmResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "patchVm",
        "tags": [
          "VMs"
        ],
        "summary": "Update a VM",
        "description": "Update a VM's resources, SSH keys, or network policy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchVmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated VM details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/policies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "getVmPolicies",
        "tags": [
          "Policies"
        ],
        "summary": "Get a VM network policy",
        "description": "Return the VM's network policy together with its derived inbound exposure and enforcement metadata. The base application hostname is nullable; non-default ports use `<vm>-<port>.<provider>-<region>.arker.app`.",
        "responses": {
          "200": {
            "description": "The VM's policy document (empty when none is set), plus its derived inbound exposure metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyDoc"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "putVmPolicies",
        "tags": [
          "Policies"
        ],
        "summary": "Replace a VM network policy",
        "description": "Replace the complete network policy of a mutable VM owned by the authenticated caller and apply it to the running VM. Public base VMs are immutable.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyWriteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored policy, plus request-level enforcement domains and any non-fatal notices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyDoc"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/runs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "createRun",
        "tags": [
          "Runs"
        ],
        "summary": "Run a command",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The run finished inside the synchronous window. `state` is terminal and `exit_code` is the command's real status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted \u2014 the run is still executing. The body carries `run_id` and `state: \"running\"`, not output; poll `GET /v1/vms/{id}/runs/{run_id}` for the result. Returned for `time_to_background: 0` and whenever the command outstays `time_to_background`. A 2xx here means the request was accepted, not that the work is done.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Run a command. Set `time_to_background` to `0` to return a pollable run immediately after successful dispatch. A positive value bounds the synchronous wait, and omission uses the default window. A run that is still executing when the response is sent returns **202 Accepted** with a `run_id`; only a run that finished returns 200. Control requests do not accept `time_to_background`. `timeout` is the separate execution and kill bound."
      },
      "get": {
        "operationId": "listRuns",
        "tags": [
          "Runs"
        ],
        "summary": "List VM runs",
        "description": "List recorded runs for one VM, with optional lifecycle and time filters.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Return only runs in this lifecycle state.",
            "schema": {
              "$ref": "#/components/schemas/RunState"
            }
          },
          {
            "in": "query",
            "name": "started_after",
            "required": false,
            "description": "Return runs started at or after this RFC 3339 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "started_before",
            "required": false,
            "description": "Return runs started at or before this RFC 3339 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "completed_after",
            "required": false,
            "description": "Return runs completed at or after this RFC 3339 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRunsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/runs/{run_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "operationId": "getRun",
        "tags": [
          "Runs"
        ],
        "summary": "Get a run",
        "description": "Return one recorded run, including its current state and available output.",
        "responses": {
          "200": {
            "description": "Run status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "cancelRun",
        "tags": [
          "Runs"
        ],
        "summary": "Cancel a run",
        "description": "Request cancellation of an in-flight run.",
        "responses": {
          "200": {
            "description": "Cancel result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRunResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "listSessions",
        "tags": [
          "Sessions"
        ],
        "summary": "List VM sessions",
        "description": "List persistent command sessions for one VM.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Return only sessions in this lifecycle state.",
            "schema": {
              "$ref": "#/components/schemas/SessionState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VM sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Create a session",
        "description": "Create a persistent command session in a VM.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "get": {
        "operationId": "getSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Get a session",
        "description": "Return one persistent VM session.",
        "responses": {
          "200": {
            "description": "Session details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "patchSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Update a session (resize PTY / set timeout)",
        "description": "Resize the session's PTY (cols/rows) and/or update its idle timeout. Resize is delivered to a LIVE attached PTY in-band; if the PTY is detached, it is applied directly to the session's runtime; if no PTY has ever attached, the call is accepted as a no-op. REST equivalent of the WebSocket {\"type\":\"resize\"} control frame \u2014 usable from any client, attached or not.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchSessionResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Delete a session",
        "description": "Close and remove a persistent VM session.",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSessionResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}/pty": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        },
        {
          "name": "cols",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "default": 80
          },
          "description": "Initial terminal width in columns."
        },
        {
          "name": "rows",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "default": 24
          },
          "description": "Initial terminal height in rows."
        },
        {
          "name": "command",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          },
          "description": "Single executable path to launch (no shell-splitting). Defaults to the login shell."
        },
        {
          "name": "persist",
          "in": "query",
          "required": false,
          "schema": {
            "type": "boolean",
            "default": true
          },
          "description": "When true (default), disconnecting keeps the shell running so the same session_id can reconnect to it and receive recent scrollback. When false, the shell is terminated on disconnect. A kill control message or the configured idle TTL terminates a persistent shell."
        },
        {
          "name": "cancel_ttl_secs",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "minimum": 0
          },
          "description": "Destroy the PTY after this many seconds without terminal input or output. Omit or set to zero to disable this PTY-specific idle limit."
        },
        {
          "name": "ticket",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          },
          "description": "Browser auth: a short-lived ticket from POST .../pty-ticket, used in place of the Authorization header (which a browser WebSocket cannot set)."
        }
      ],
      "get": {
        "operationId": "attachSessionPty",
        "tags": [
          "PTY"
        ],
        "summary": "Open an interactive PTY (WebSocket upgrade)",
        "description": "Upgrades to a WebSocket carrying an interactive pseudo-terminal in the VM, reusing the same interactive terminal as SSH. Authenticate with a bearer API key or, for browser clients, a short-lived PTY ticket. Reopening the same `session_id` reconnects to a persistent shell and replays recent scrollback. Binary server frames contain raw terminal output; binary client frames contain stdin bytes. Text client frames accept JSON controls for `resize`, `kill`, and `ping`. Closing the socket detaches a persistent shell or destroys a non-persistent shell; `kill` always destroys it. The service enforces attachment limits and closes oversized or idle connections.",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "PtyTicket": []
          }
        ],
        "responses": {
          "101": {
            "description": "Switching Protocols \u2014 the WebSocket PTY stream is established."
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}/pty-ticket": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "post": {
        "operationId": "mintSessionPtyTicket",
        "tags": [
          "PTY"
        ],
        "summary": "Mint a browser PTY ticket",
        "description": "Returns a short-lived, multi-use credential for opening the PTY WebSocket from a browser, which cannot set an Authorization header. The bearer-authenticated caller must own the VM. Pass the returned credential as the `ticket` query parameter on the PTY WebSocket URL.",
        "responses": {
          "200": {
            "description": "Ticket minted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PtyTicketResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/syncs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "createSync",
        "tags": [
          "Filesystems"
        ],
        "summary": "Mount a filesystem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created sync.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a persistent sync: ensure a Filesystem exists (creating\none if requested) and bind-mount it into this VM at `path`.\nBidirectional by virtue of being a mount \u2014 there is no separate\nsync-direction parameter. Returns `ErrorResponse` code\n`conflict` if a sync already exists at `path`.\n"
      },
      "get": {
        "operationId": "listSyncs",
        "tags": [
          "Filesystems"
        ],
        "summary": "List filesystem mounts",
        "description": "List persistent filesystem mounts for one VM, optionally filtered by filesystem.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "filesystem_id",
            "required": false,
            "description": "Return only mounts for this filesystem.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Syncs on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSyncsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/syncs/{sync_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SyncId"
        }
      ],
      "delete": {
        "operationId": "deleteSync",
        "tags": [
          "Filesystems"
        ],
        "summary": "Unmount a filesystem",
        "description": "Remove a persistent filesystem mount from a VM.",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSyncResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sync": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "sync",
        "tags": [
          "Sync"
        ],
        "summary": "Read or write VM files",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Read or write result, matching the request op.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Read or write files in the VM filesystem. Op-discriminated:\n`{op:\"read\",path}` reads a file (inline content for small files, a\npresigned GET URL for large ones); `{op:\"write\",writes:[...]}` writes,\neach entry an inline chunk or a presigned-upload step. Binding a\nfilesystem into the VM is the separate `/v1/vms/{id}/syncs` resource.\n"
      }
    },
    "/v1/vms/{id}/sync-stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "syncStream",
        "tags": [
          "Sync"
        ],
        "summary": "Stream a file or archive into the VM",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Absolute destination path. With `extract` set this is the destination DIRECTORY."
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Exact byte length of the streamed body. The request fails if the stream does not match."
          },
          {
            "name": "sha256",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional checksum, verified on the write that completes the file."
          },
          {
            "name": "extract",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "tar.gz",
                "tgz",
                "tar"
              ]
            },
            "description": "Treat the body as a tar archive and extract it into `path` server-side, so a whole directory syncs in one request. Use `tar` for already-compressed data and `tar.gz` when compression reduces the upload size."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Write or extract result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncStreamResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Stream raw bytes directly into the VM as they arrive, avoiding an intermediate copy. With `extract` set, the body is a tar archive and `path` is the destination directory: the archive is unpacked into `path`, so a whole directory syncs in a single request."
      }
    },
    "/v1/filesystems": {
      "get": {
        "operationId": "listFilesystems",
        "tags": [
          "Filesystems"
        ],
        "summary": "List filesystems",
        "description": "List shared filesystems visible to the authenticated caller.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "name_prefix",
            "required": false,
            "description": "Return only filesystems whose names begin with this value.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org-scoped persistent filesystems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesystemsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createFilesystem",
        "tags": [
          "Filesystems"
        ],
        "summary": "Create a filesystem",
        "description": "Create a shared filesystem owned by the authenticated caller's organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilesystemCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created filesystem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filesystem"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/filesystems/{filesystem_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FilesystemId"
        }
      ],
      "get": {
        "operationId": "getFilesystem",
        "tags": [
          "Filesystems"
        ],
        "summary": "Get a filesystem",
        "description": "Return one shared filesystem visible to the authenticated caller.",
        "responses": {
          "200": {
            "description": "Filesystem details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filesystem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteFilesystem",
        "tags": [
          "Filesystems"
        ],
        "summary": "Delete a filesystem",
        "description": "Delete a shared filesystem after all VM mounts have been removed.",
        "responses": {
          "200": {
            "description": "Delete result. The filesystem must not be mounted by any VM (no remaining `Sync` referencing it).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFilesystemResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Arker API key"
      },
      "PtyTicket": {
        "type": "apiKey",
        "in": "query",
        "name": "ticket",
        "description": "Short-lived browser credential created by the PTY ticket endpoint."
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Makes run submission safely retryable. Reusing a key with the same request returns the original result; reusing it with a different request returns a conflict.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 64,
          "pattern": "^[ -~]+$"
        }
      },
      "VmId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "VM identifier: a VM id, or a name. Names resolve in the public base-VM registry first (e.g. ubuntu-full), then among the calling organization's own named VMs. Names never have the shape of a VM id.",
        "schema": {
          "type": "string"
        }
      },
      "RunId": {
        "name": "run_id",
        "in": "path",
        "required": true,
        "description": "Run identifier.",
        "schema": {
          "type": "string"
        }
      },
      "SessionId": {
        "name": "sid",
        "in": "path",
        "required": true,
        "description": "Session identifier.",
        "schema": {
          "type": "string"
        }
      },
      "SyncId": {
        "name": "sync_id",
        "in": "path",
        "required": true,
        "description": "Filesystem mount identifier.",
        "schema": {
          "type": "string"
        }
      },
      "FilesystemId": {
        "name": "filesystem_id",
        "in": "path",
        "required": true,
        "description": "Filesystem identifier.",
        "schema": {
          "type": "string"
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque pagination cursor returned by the previous page's `next_cursor`.",
        "schema": {
          "type": [
            "string",
            "null"
          ]
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum items per page. Service caps may apply.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000
        }
      }
    },
    "headers": {
      "RetryAfter": {
        "description": "Delay in seconds before retrying a transiently unavailable request.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "The organization must complete billing setup or payment before starting new compute.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error": {
        "description": "API error.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnsupportedOperation": {
        "description": "The request is valid, but the requested operation or option is unavailable in the selected region or provider.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unsupportedOperation": {
                "summary": "Unavailable feature",
                "value": {
                  "error": {
                    "code": "unsupported_operation",
                    "message": "background runs are unavailable in the selected region",
                    "timestamp": "2026-07-21T00:00:00Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "timestamp"
        ],
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "description": "Readiness status. `ok` means the service is ready; other values may be returned with HTTP 503."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Server time when the health response was generated."
          }
        }
      },
      "WhoamiResponse": {
        "type": "object",
        "required": [
          "org_id",
          "org_name"
        ],
        "additionalProperties": false,
        "properties": {
          "org_id": {
            "type": "string",
            "description": "Identifier of the authenticated organization."
          },
          "org_name": {
            "type": "string",
            "description": "Display name of the authenticated organization."
          }
        }
      },
      "RegionPlacement": {
        "type": "object",
        "required": [
          "provider",
          "region",
          "endpoint"
        ],
        "additionalProperties": false,
        "properties": {
          "provider": {
            "type": "string",
            "description": "Infrastructure provider identifier for the placement."
          },
          "region": {
            "type": "string",
            "description": "Provider region identifier."
          },
          "endpoint": {
            "type": "string",
            "format": "uri",
            "description": "Base URL for this placement's regional API."
          }
        }
      },
      "ListRegionsResponse": {
        "type": "object",
        "required": [
          "regions"
        ],
        "additionalProperties": false,
        "properties": {
          "regions": {
            "type": "array",
            "description": "Provider and region placements that accept public API requests.",
            "items": {
              "$ref": "#/components/schemas/RegionPlacement"
            }
          }
        }
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "unsupported_operation",
          "bad_request",
          "validation_error",
          "unauthorized",
          "invalid_api_key",
          "api_key_required",
          "csrf_rejected",
          "forbidden",
          "legal_acceptance_required",
          "payment_required",
          "not_found",
          "conflict",
          "method_not_allowed",
          "payload_too_large",
          "rate_limited",
          "upstream_rate_limited",
          "budget_exceeded",
          "concurrency_limit_exceeded",
          "regional_concurrency_limit_exceeded",
          "resource_pressure",
          "capacity_unavailable",
          "internal",
          "unavailable",
          "bad_gateway",
          "stale_route",
          "unrecoverable"
        ],
        "description": "Stable machine-readable error code. `unsupported_operation` means the requested optional feature is unavailable in the selected region or provider. `payment_required` means billing setup or payment is required before new compute can start. `rate_limited` means the organization exceeded its request rate. `upstream_rate_limited` means a third-party service the request directed Arker to contact \u2014 a registry named by `image`, today \u2014 rate limited Arker while acting on the caller's behalf; unlike `rate_limited`, the limit is not Arker's and not the organization's request rate, so the remedy is with that service (authenticate, or pull less from it); `message` carries the upstream's own words, including which host refused. `budget_exceeded` means the organization reached its monthly spending limit. `concurrency_limit_exceeded` means the organization reached a global concurrent compute-resource limit. `regional_concurrency_limit_exceeded` means the organization reached a concurrent compute-resource limit in the selected region. `resource_pressure` means the serving infrastructure is temporarily at capacity. `capacity_unavailable` means no worker can currently serve the requested platform and one is being brought up; unlike `unavailable`, which signals a fault, this is an expected transient state and the accompanying `retry_after` says when to try again."
      },
      "ErrorBody": {
        "type": "object",
        "required": [
          "code",
          "message",
          "timestamp"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "message": {
            "type": "string",
            "description": "Human-readable, client-safe error message. For `code: \"internal\"`, this is intentionally generic."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Server time when the error response was generated."
          },
          "retry_after": {
            "type": "integer",
            "minimum": 0,
            "description": "Suggested retry delay in seconds. Present on retryable responses and mirrored by the Retry-After header."
          },
          "operation": {
            "type": "string",
            "description": "Operation that failed, when the service can identify it safely."
          },
          "runtime": {
            "type": "string",
            "description": "Runtime involved in the failure, when safe to expose."
          },
          "provider": {
            "type": "string",
            "description": "Public provider involved in the failure, when safe to expose."
          },
          "retryable": {
            "type": "boolean",
            "description": "Whether clients should retry the operation."
          },
          "scope": {
            "type": "string",
            "enum": [
              "global",
              "regional"
            ],
            "description": "Quota scope that denied the operation."
          },
          "region": {
            "type": "string",
            "description": "Region whose quota denied the operation."
          },
          "resource": {
            "type": "string",
            "description": "Stable quota resource key."
          },
          "current_usage": {
            "type": "integer",
            "minimum": 0,
            "description": "Usage observed by admission."
          },
          "requested_increment": {
            "type": "integer",
            "minimum": 0,
            "description": "Positive allocation added by the operation."
          },
          "projected_usage": {
            "type": "integer",
            "minimum": 0,
            "description": "Usage after the requested increment."
          },
          "quota": {
            "type": "integer",
            "minimum": 0,
            "description": "Enforced quota cap."
          },
          "action": {
            "type": "string",
            "enum": [
              "settings_limits"
            ],
            "description": "Stable Console action for resolving the denial."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorBody"
          }
        }
      },
      "VmState": {
        "type": "string",
        "enum": [
          "idle",
          "running"
        ],
        "description": "Unified lifecycle state for a VM or a Session. `idle` means no command is currently executing; `running` means a command is in flight."
      },
      "SessionState": {
        "$ref": "#/components/schemas/VmState"
      },
      "RunState": {
        "type": "string",
        "enum": [
          "pending",
          "running",
          "completed",
          "failed",
          "cancelled"
        ],
        "description": "Lifecycle state for a run. `pending` means the run was accepted but has not started yet because an earlier run on the same session is still in flight; it is not terminal, and a client should keep polling. `running` means the command is in progress. `completed` means the command finished; `exit_code` reports its result. `failed` means the service could not start or finish the command, with a client-safe explanation in `fail_reason`. `cancelled` means the client cancelled the run."
      },
      "Provider": {
        "type": "string",
        "description": "Infrastructure provider currently hosting the resource."
      },
      "PolicyWriteRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "A complete replacement for a VM's network policy. Rules are evaluated in order, and the first matching rule determines the result. An empty rule list allows all outbound traffic and permits authenticated inbound access to any guest port.",
        "properties": {
          "policies": {
            "type": "array",
            "description": "Ordered network policy rules. An empty list allows all outbound traffic and permits inbound traffic to any guest port after Arker authentication. In a non-empty document, unmatched outbound traffic is denied. If no inbound rules are present, inbound access keeps the authenticated default; explicit inbound allow rules restrict exposure to their listed ports.",
            "items": {
              "$ref": "#/components/schemas/PolicyEntry"
            }
          },
          "secrets": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Named secret values referenced by `${secret:NAME}` in rewrite actions. Values are encrypted at rest and masked in subsequent policy responses."
          },
          "hostname": {
            "type": [
              "string",
              "null"
            ],
            "readOnly": true,
            "description": "Server-derived; accepted and ignored on write so a client can PUT back a document it read. Nullable base `.app` hostname for inbound services. The bare hostname selects guest port 8080. For another port, insert `-<port>` before the first dot: `<vm>-<port>.<provider>-<region>.arker.app`. Clients must not require this field to be present."
          },
          "mitm_domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "description": "Server-derived; accepted and ignored on write so a client can PUT back a document it read."
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "description": "Server-derived; accepted and ignored on write so a client can PUT back a document it read."
          }
        }
      },
      "PolicyDoc": {
        "type": "object",
        "additionalProperties": false,
        "description": "A VM's current network policy and its derived inbound exposure metadata.",
        "properties": {
          "policies": {
            "type": "array",
            "description": "Ordered network policy rules. An empty list allows all outbound traffic and permits inbound traffic to any guest port after Arker authentication. In a non-empty document, unmatched outbound traffic is denied. If no inbound rules are present, inbound access keeps the authenticated default; explicit inbound allow rules restrict exposure to their listed ports.",
            "items": {
              "$ref": "#/components/schemas/PolicyEntry"
            }
          },
          "secrets": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Named secrets referenced by `${secret:NAME}` in rewrite actions. Stored values are represented as `***`; supply the original value when replacing a policy that uses it."
          },
          "hostname": {
            "type": [
              "string",
              "null"
            ],
            "readOnly": true,
            "description": "Nullable base `.app` hostname for inbound services. The bare hostname selects guest port 8080. For another port, insert `-<port>` before the first dot: `<vm>-<port>.<provider>-<region>.arker.app`. Clients must not require this field to be present."
          },
          "mitm_domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "description": "Domains whose matching traffic is evaluated by the request-level policy engine."
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "description": "Non-fatal policy application notices."
          }
        }
      },
      "PolicyEntry": {
        "type": "object",
        "required": [
          "type",
          "action"
        ],
        "additionalProperties": false,
        "description": "One policy rule. `match` AND's its present fields (absent \u21d2 catch-all).",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "outbound",
              "inbound"
            ],
            "description": "Traffic direction: `outbound` controls connections initiated by the VM; `inbound` exposes a guest port. Unknown values are rejected."
          },
          "match": {
            "$ref": "#/components/schemas/PolicyMatch"
          },
          "action": {
            "$ref": "#/components/schemas/PolicyAction"
          },
          "auth": {
            "type": "string",
            "enum": [
              "open",
              "arker"
            ],
            "description": "Authentication for an inbound rule that exposes a port \u2014 `allow`, or a scaling-only action. `open` exposes the port publicly; `arker` requires `Authorization: Bearer $ARKER_API_KEY` from the VM owner's organization before forwarding to the guest. The default is `arker`. This field is invalid on deny and outbound rules. All port-exposing inbound rules in one document must use the same authentication mode. Inbound port matches must use individual ports rather than ranges."
          }
        }
      },
      "PolicyMatch": {
        "type": "object",
        "additionalProperties": false,
        "description": "Match criteria: present fields are combined with AND; list items are combined with OR. `ips` and `hosts` are mutually exclusive, and inbound rules cannot use `hosts`. Port, IP, and host rules operate at the connection layer. Method, path, header, and body rules operate at the request layer.",
        "properties": {
          "ports": {
            "type": "array",
            "description": "Single ports and/or inclusive [start, end] ranges, e.g. [80, 443, [1000, 2000]]. Empty/absent = any port. Inbound allow rules require one or more individual ports and reject ranges.",
            "items": {
              "oneOf": [
                {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 65535
                },
                {
                  "type": "array",
                  "description": "Inclusive [start, end] port range.",
                  "items": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 65535
                  },
                  "minItems": 2,
                  "maxItems": 2
                }
              ]
            }
          },
          "ips": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IPs or CIDRs. Outbound rules match destination IPs; inbound rules match the caller source IP."
          },
          "hosts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Label-boundary suffix match on the request host: `github.com` matches `api.github.com`, not `evilgithub.com`."
          },
          "methods": {
            "description": "HTTP methods matched by this rule.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "paths": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Full-segment path prefixes."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Header name \u2192 any-of values (names AND'd, a name's values OR'd)."
          },
          "body_contains": {
            "description": "Substrings that must appear in the request body.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PolicyAction": {
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "allow",
              "deny"
            ]
          },
          {
            "type": "object",
            "additionalProperties": false,
            "description": "The object action: at least one of `rewrite` / `gate` / `scaling` must be present. The request is forwarded upstream (applying `rewrite` if present); a `gate` blocks it until an outbound HTTP check allows it; a `scaling` key lets the platform suspend the machine while it waits on the response. The three compose freely on one action.",
            "properties": {
              "rewrite": {
                "$ref": "#/components/schemas/Rewrite"
              },
              "gate": {
                "$ref": "#/components/schemas/Gate"
              },
              "scaling": {
                "$ref": "#/components/schemas/ScalingAction"
              }
            }
          }
        ],
        "description": "allow / deny, or an object with any combination of `rewrite`, `gate`, and `scaling` (at least one)."
      },
      "ScalingAction": {
        "type": "object",
        "additionalProperties": false,
        "description": "Auto-scaling behavior for matched traffic. On an `outbound` rule it brackets the time the VM is blocked awaiting an upstream response; on an `inbound` rule it brackets the time the VM is idle between requests (scale to zero). Outbound rules may be narrowed by L7 criteria (`methods`/`paths`/`headers`/`body_contains`), for example to suspend only on `POST /v1/messages`, and compose with `rewrite` / `gate` siblings. For outbound, prefer a `match.hosts` scope: a host-less scaling rule matches every flow it can see, which breaks certificate-pinning clients. Where each is enforced differs and explains the asymmetry: an `outbound` rule runs on the MITM (TLS-terminating) data path, which is why it can match L7 fields and carry `rewrite`/`gate` siblings; an `inbound` rule is enforced host-side on the plaintext request the worker already holds, so no MITM is involved and no TLS is terminated.",
        "properties": {
          "suspend": {
            "type": "boolean",
            "default": false,
            "description": "Suspend the VM (snapshot and free CPU/RAM). On an `outbound` rule: while a matched upstream request is blocked, resuming when the response arrives. On an `inbound` rule: once a matched request's response has been fully delivered and nothing else is in flight, so the next matched request wakes it again. The suspended window remains part of the VM's Running interval until the VM is paused or stopped. On an `outbound` rule, matched responses are delivered only once the upstream response is COMPLETE: a suspended VM has no running guest to receive bytes, so the proxy holds the whole body and hands it over at the end. Total latency is unchanged, but a response whose fragments are individually usable \u2014 an SSE token stream, for example \u2014 stops arriving incrementally, so a client rendering tokens as they arrive will see nothing until the response finishes. Enabling this is a deliberate trade of incremental delivery for the memory saving."
          },
          "wake": {
            "type": "boolean",
            "description": "Whether a matched inbound request may wake a suspended VM. Omit this field to allow waking. Set it to `false` so a request that would need to start the VM fails with `503 vm_suspended`; requests received while the VM is running are served normally. This field is not valid on outbound rules."
          }
        }
      },
      "Rewrite": {
        "type": "object",
        "additionalProperties": false,
        "description": "Mutate-and-forward. Host/path/header/body values support request-time `$`-token interpolation: `$domain`, `$path`, `$method`, `$vm_id`, `$body` (the request body as received, also `${\u2026}`-braced), and `$$` for a literal `$`. Unknown/unresolved tokens pass through unchanged.",
        "properties": {
          "host": {
            "description": "Replacement request host.",
            "type": "string"
          },
          "path": {
            "description": "Path inside the VM.",
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Merge-set these request headers (not replace-all)."
          },
          "remove_headers": {
            "description": "Request header names to remove before forwarding.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "body": {
            "type": "string",
            "description": "Replace the request body entirely with this (interpolated) value; `$body` re-injects the original body. Absent = body forwarded unchanged."
          }
        }
      },
      "Gate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "host",
          "allow_on_status"
        ],
        "description": "`action.gate` performs an outbound HTTP authorization check before opening the VM's matching connection. A response status in `allow_on_status` permits the connection and applies any sibling `rewrite`; any other status denies it. Timeouts and connection failures follow `deny_on_timeout`, which defaults to deny. `path`, header values, and string leaves of `body` support `$` substitution with the documented request variables. `host` is not substituted. Injected JSON values are escaped, and gate requests reject private, link-local, and internal destinations.",
        "properties": {
          "host": {
            "type": "string",
            "description": "Target endpoint INCLUDING scheme, e.g. https://authz.example.com. Not interpolated."
          },
          "path": {
            "type": "string",
            "description": "Request path (interpolated). Default /."
          },
          "method": {
            "type": "string",
            "default": "GET",
            "description": "HTTP method. Default GET."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Request headers with interpolated values. Stored credentials are encrypted at rest and masked in policy responses."
          },
          "body": {
            "description": "JSON request body; string leaves are interpolated and JSON-escaped. Absent = no body."
          },
          "allow_on_status": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "HTTP status codes that mean ALLOW. Any other status denies. Must be non-empty."
          },
          "deny_on_timeout": {
            "type": "boolean",
            "default": true,
            "description": "Verdict on timeout / connection failure: true = deny (fail-closed, default), false = allow (fail-open)."
          },
          "timeout_ms": {
            "type": "integer",
            "description": "Max wall-clock for the gate call before it is abandoned (then deny_on_timeout applies). Default ~30000."
          }
        }
      },
      "ForkRequest": {
        "type": "object",
        "additionalProperties": false,
        "oneOf": [
          {
            "required": [
              "source_vm_id"
            ],
            "properties": {
              "source_vm_id": {
                "type": "string"
              },
              "source_vm_name": {
                "type": "null"
              },
              "image": {
                "type": "null"
              },
              "dockerfile": {
                "type": "null"
              },
              "source_org_id": {
                "type": "null"
              },
              "source_org_name": {
                "type": "null"
              }
            }
          },
          {
            "required": [
              "source_vm_name"
            ],
            "properties": {
              "source_vm_id": {
                "type": "null"
              },
              "source_vm_name": {
                "type": "string"
              },
              "image": {
                "type": "null"
              },
              "dockerfile": {
                "type": "null"
              },
              "source_org_id": {
                "type": "null"
              },
              "source_org_name": {
                "type": "null"
              }
            }
          },
          {
            "required": [
              "source_vm_name",
              "source_org_id"
            ],
            "properties": {
              "source_vm_id": {
                "type": "null"
              },
              "source_vm_name": {
                "type": "string"
              },
              "image": {
                "type": "null"
              },
              "dockerfile": {
                "type": "null"
              },
              "source_org_id": {
                "type": "string"
              },
              "source_org_name": {
                "type": "null"
              }
            }
          },
          {
            "required": [
              "source_vm_name",
              "source_org_name"
            ],
            "properties": {
              "source_vm_id": {
                "type": "null"
              },
              "source_vm_name": {
                "type": "string"
              },
              "image": {
                "type": "null"
              },
              "dockerfile": {
                "type": "null"
              },
              "source_org_id": {
                "type": "null"
              },
              "source_org_name": {
                "type": "string"
              }
            }
          },
          {
            "required": [
              "image"
            ],
            "properties": {
              "source_vm_id": {
                "type": "null"
              },
              "source_vm_name": {
                "type": "null"
              },
              "image": {
                "type": "string"
              },
              "dockerfile": {
                "type": "null"
              },
              "source_org_id": {
                "type": "null"
              },
              "source_org_name": {
                "type": "null"
              }
            }
          },
          {
            "required": [
              "dockerfile"
            ],
            "properties": {
              "source_vm_id": {
                "type": "null"
              },
              "source_vm_name": {
                "type": "null"
              },
              "image": {
                "type": "null"
              },
              "dockerfile": {
                "type": "string"
              },
              "source_org_id": {
                "type": "null"
              },
              "source_org_name": {
                "type": "null"
              }
            }
          }
        ],
        "properties": {
          "source_vm_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Global VM identifier. Org is inferred from the row."
          },
          "source_vm_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "VM name within the caller organization or `ArkerHQ`. Omit the organization scope to search the caller first and then `ArkerHQ`."
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "OCI image reference to fork from \u2014 for example `ubuntu:24.04`, `ghcr.io/org/image:v1`, or `image@sha256:...`. An unqualified name resolves against Docker Hub. Give a bare reference, not a URI. The new VM boots a rootfs converted from that image rather than from an existing VM, so neither `source_vm_id` nor `source_vm_name` is given."
          },
          "dockerfile": {
            "type": [
              "string",
              "null"
            ],
            "description": "Dockerfile source. Accepted by the schema and ALWAYS REFUSED with a 400: the API does not build Dockerfiles, the SDKs do. Use arker.fork(dockerfile=\"./Dockerfile\") from the Python or TypeScript SDK, or pass `image` to fork a prebuilt image here. COPY is why it works that way: it reads files on the caller's machine, and this field carries text while the caller waits for the fork response, so the server can never be handed those files. The field is kept rather than removed so this refusal can point at the SDK instead of answering with a bare `unknown field`."
          },
          "nestedvirt": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Request nested virtualization for a VM forked from `image`, including access to `/dev/kvm` inside the guest. Omit this field or pass `false` to disable it. The request returns 400 when the selected placement cannot provide nested virtualization."
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Organization ID that owns `source_vm_name`. Supported for existing integrations and scheduled for removal in a later API version; use `source_org_name` for new integrations. Cannot be combined with `source_org_name`.",
            "deprecated": true
          },
          "source_org_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Organization name that owns `source_vm_name`. Currently accepts the caller's organization or `ArkerHQ`. Cannot be combined with `source_org_id`."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional name for the new VM, scoped to the caller's org."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "Optional short description for the new VM. Blank strings normalize to null and forked VMs never inherit their source's description."
          },
          "public": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Make the new VM publicly forkable from other orgs."
          },
          "ssh_public_keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "SSH public keys to authorize on the new VM as raw `authorized_keys` entries, such as `ssh-ed25519 AAAA... you@host`. The list becomes the VM's authorized-key set. Omit it or pass an empty list to create the VM with no keys; add keys later with `PATCH /v1/vms/{id}`. Configure inbound reachability through the VM's policy."
          },
          "disk": {
            "description": "Whether the new VM should include persistent disk storage.",
            "type": [
              "boolean",
              "null"
            ]
          },
          "durable": {
            "description": "Whether the VM should preserve recoverable state across compute interruptions.",
            "type": [
              "boolean",
              "null"
            ]
          },
          "platforms": {
            "description": "Preferred compute platforms for a public template, such as `[\"graviton3\"]`. Supply multiple values to allow any listed platform. Omit or pass an empty list for automatic selection. A fork of an existing VM inherits its source platform.",
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "layers": {
            "description": "State to inherit from the source VM. Omit this field or pass `[\"disk\", \"memory\"]` for a warm fork that resumes the source's filesystem and running processes. Pass `[\"disk\"]` for a filesystem-only fork that cold-boots without the source's running processes. The list must include `disk`; supported values are `disk` and `memory`.",
            "type": [
              "array",
              "null"
            ],
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "disk",
                "memory"
              ]
            }
          },
          "queueing_timeout": {
            "description": "Maximum time in seconds this request may wait for capacity before failing with `capacity_unavailable`. Omit this field or pass `0` to fail immediately when capacity is unavailable.",
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "policies": {
            "description": "Network policy stored and enforced before the new VM first runs. Omit it to inherit the source VM's policy. Providing a policy replaces the inherited policy; an empty document selects the default posture of allow-all outbound traffic and authenticated inbound traffic. A non-empty document denies unmatched outbound traffic, so include outbound rules needed during setup. Network topology is inherited from the source. Set SSH keys through `ssh_public_keys`.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/PolicyWriteRequest"
              },
              {
                "type": "null"
              }
            ]
          },
          "resources": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ResourcesInput"
              },
              {
                "type": "null"
              }
            ],
            "description": "Resource shape for the new VM."
          },
          "registry_auth": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RegistryAuth"
              }
            ],
            "nullable": true,
            "description": "Optional credentials for `image`. Ignored when forking from a source VM, which has no registry to authenticate against."
          }
        }
      },
      "Session": {
        "type": "object",
        "required": [
          "session_id",
          "state",
          "cwd"
        ],
        "additionalProperties": false,
        "properties": {
          "session_id": {
            "description": "Unique session identifier.",
            "type": "string"
          },
          "session_idx": {
            "description": "Zero-based session index within the VM. Index 0 is the default shell a `/run` targets when it specifies neither `session_id` nor `session_idx`.",
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "state": {
            "$ref": "#/components/schemas/SessionState"
          },
          "cwd": {
            "description": "Working directory inside the VM.",
            "type": "string"
          },
          "env": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional environment-variable overrides for this session."
          },
          "started_at": {
            "description": "RFC 3339 timestamp when execution or the session started.",
            "type": [
              "string",
              "null"
            ]
          },
          "vm_id": {
            "description": "Unique VM identifier.",
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "description": "Customer-defined VM name.",
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "description": "Organization that owns the source VM.",
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "description": "Region containing the resource or activity.",
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "description": "Public provider containing the session's VM.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Provider"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ListSessionsResponse": {
        "type": "object",
        "required": [
          "sessions"
        ],
        "additionalProperties": false,
        "properties": {
          "sessions": {
            "description": "Sessions associated with the VM.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "next_cursor": {
            "description": "Cursor for the next page, or null when no further page is available.",
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Vm": {
        "type": "object",
        "required": [
          "vm_id",
          "owner_org_id",
          "created_at",
          "description",
          "public",
          "state",
          "sessions",
          "resources",
          "network"
        ],
        "additionalProperties": false,
        "properties": {
          "vm_id": {
            "description": "Unique VM identifier.",
            "type": "string"
          },
          "owner_org_id": {
            "type": "string",
            "description": "Org that owns this VM."
          },
          "created_at": {
            "description": "RFC 3339 timestamp when the resource was created.",
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "VM name, scoped to `owner_org_id`."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "Short optional description owned by this VM."
          },
          "hostname": {
            "type": [
              "string",
              "null"
            ],
            "readOnly": true,
            "description": "Nullable base `.app` hostname for inbound services. The bare hostname selects guest port 8080. For another port, insert `-<port>` before the first dot: `<vm>-<port>.<provider>-<region>.arker.app`. Clients must not require this field to be present."
          },
          "public": {
            "type": "boolean",
            "description": "When `true`, other orgs can fork this VM (but cannot run on it)."
          },
          "root_source_vm_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "ID of the root (deepest-ancestor) source VM, if this VM was created by a chain of forks. None for VMs forked directly from an image."
          },
          "root_source_vm_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name of the root source VM. Populated together with `root_source_vm_id`."
          },
          "state": {
            "$ref": "#/components/schemas/VmState"
          },
          "region": {
            "description": "Customer-facing service region containing the VM.",
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "description": "Public provider containing the VM.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Provider"
              },
              {
                "type": "null"
              }
            ]
          },
          "last_active_at": {
            "description": "RFC 3339 timestamp of the machine's most recent activity \u2014 a run, an SSH session, an open tunnel, a resume, or being used as the source of a fork. Recorded when a stretch of activity begins and refreshed at most once a minute while it continues, so it is a recent-activity marker rather than a precise heartbeat. Null if the machine has not been active since it was created.",
            "type": [
              "string",
              "null"
            ]
          },
          "network": {
            "$ref": "#/components/schemas/VmNetwork",
            "description": "The VM's network object \u2014 SSH keys only. Inbound reachability and per-port exposure are derived from `policies`, not from this object."
          },
          "max_vcpus": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255,
            "description": "Hard vCPU ceiling for a fork of this VM. Requesting more fails the run."
          },
          "min_vcpus": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255,
            "description": "Smallest vCPU count accepted for this VM."
          },
          "max_memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Hard memory ceiling (MiB) a fork can hotplug up to."
          },
          "min_memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Non-hotpluggable base memory (MiB)."
          },
          "gpu_platforms": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/GpuPlatformLimits"
            },
            "description": "GPU sizing bounds for each GPU platform this VM can be forked onto; absent when it has no GPU platform. A base VM is GPU-agnostic and may be offered on several GPUs at once, so this is a list \u2014 clients pick the entry matching the platform they intend to request."
          },
          "min_disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Smallest disk size (MiB) accepted for this VM. `0` means nodisk."
          },
          "max_disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Largest disk size (MiB) accepted for this VM. `0` means nodisk."
          },
          "sessions": {
            "description": "Sessions associated with the VM.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "resources": {
            "$ref": "#/components/schemas/VmResources",
            "description": "Current VM resource allocation."
          },
          "platform": {
            "type": [
              "string",
              "null"
            ],
            "description": "Immutable platform identity of this concrete VM."
          },
          "compatible_platforms": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/CompatiblePlatform"
            },
            "description": "Source-compatible platforms structurally offered in this region. This is not a live-capacity signal."
          }
        }
      },
      "ListVmsResponse": {
        "type": "object",
        "required": [
          "vms"
        ],
        "additionalProperties": false,
        "properties": {
          "vms": {
            "description": "VMs visible to the authenticated caller.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vm"
            }
          },
          "next_cursor": {
            "description": "Cursor for the next page, or null when no further page is available.",
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteVmResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "description": "True when the resource has been deleted.",
            "type": "boolean"
          }
        }
      },
      "DeleteSessionResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "description": "True when the resource has been deleted.",
            "type": "boolean"
          }
        }
      },
      "PatchSessionRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "cols": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "description": "New terminal width in columns. Provide together with rows."
          },
          "rows": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "description": "New terminal height in rows. Provide together with cols."
          },
          "timeout_secs": {
            "type": "integer",
            "minimum": 0,
            "description": "Idle auto-cancel window for the PTY; applies on the next attach."
          }
        }
      },
      "PatchSessionResponse": {
        "type": "object",
        "required": [
          "ok",
          "session_id"
        ],
        "additionalProperties": false,
        "properties": {
          "ok": {
            "description": "True when the operation succeeded.",
            "type": "boolean"
          },
          "session_id": {
            "description": "Unique session identifier.",
            "type": "string"
          }
        }
      },
      "RunRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "session_id": {
[...]
